<div class="card" style="width: 18rem;">
	<% if(profile.photo){ %>
		   <img src="http://grand-view.herokuapp.com/image/<%= profile.photo %>" alt="{{ image }}" class="card-img-top">
	<% } %>
  <div class="card-body">
    <h5 class="card-title">Name: <%= profile.name %></h5>
    <p class="card-text"><%= profile.bio %></p>
	<p class="card-text"><%= profile.apartment %></p>
	<p class="card-text"><%= profile.number %></p>
	 <p>
		 <%= user._id %>
	  </p>
	  <p>
		  <%= profile._id %>
	  </p>
	<% related.forEach(relative => { %>
	  <% if(relative._id == profile._id){ %>
			<% related.push() %>
			<% related.pop() %>
	  <% } %>
		  <p>In This Unit: <a href="/profile/<%= relative._id %>"><%= relative.username %> </a></p>
	 <% }) %>
	 	<a href="/edit/profile" class="btn btn-primary btn-block">Edit Your Profile</a>
		<a href="/home" class="btn btn-primary btn-block">Go To The Home Page</a>
		<a href="/profiles" class="btn btn-secondary btn-block">Browse More Profiles</a>
	  <% } else { %>
		<a href="/edit/profile" class="btn btn-primary btn-block">Edit Your Profile</a>
		<a href="/home" class="btn btn-primary btn-block">Go To The Home Page</a>
		<a href="/profiles" class="btn btn-secondary btn-block">Browse More Profiles</a>
	 <% } %>
	
  </div>
</div>
